:root {
  --primary-accent: #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  margin: 1em;
}

.buttons {
  display: flex;
  position: sticky;
  top: 0.5em;
  z-index: 1; /*to stick above plotly graphs*/
}

.buttons>*+* {
  margin-left: 10px
}

#info {
  max-width: 48em;
  line-height: 1.3;
}