main {
  margin: 1em;
}

button {
  display: block;
  cursor: pointer;
  border-radius: 23px;
  min-height: 46px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.3px;
  padding: 0 16px;

  /* Secondary buttons */
  color: #000;
  border: 2px solid #000;
  background: #fff;
}
/* Primary button */
button:first-of-type {
  border: none;
  background: #000;
  color: #fff;
}

.buttons {
  display: flex
}

.buttons>*+* {
  margin-left: 10px
}

#info {
  max-width: 48em;
  line-height: 1.3;
}