.button-wrapper {
    display: flex;
    position: relative;
}

button {
    display: block;
    cursor: pointer;
    border-radius: 23px;
    min-height: 46px;
    font-weight: 700;
    font-size: 1.125em;
    letter-spacing: 0.3px;
    padding: 0 1em;

    outline: 3px solid transparent;
    transition: all 0.2s;

    /* Secondary buttons */
    color: var(--primary-accent);
    border: 2px solid var(--primary-accent);
    background: #fff;

    display: flex;
    align-items: center;
}

button .icon {
    padding-bottom: 2px;
}

button.primary {
    background: var(--primary-accent);
    border: none;
    color: #fff;
}

button:focus {
    outline: 3px solid rgba(66, 153, 225, 0.6);
}

.button-main.dropdown {
    border-radius: 23px 0 0 23px;
}

.button-dropdown {
    border-left: 0;
    border-radius: 0 23px 23px 0;
    padding: 0 0.8em 0 0.6em;
}

.button-dropdown .icon {
    margin: 0;
}

.primary.button-dropdown {
    margin-left: 1px;
}

.button-dropdown > div {
    transition: all linear 0.2s;
}

.button-dropdown.open > div {
    transform: scale(-1);
}