table {
    border-collapse: collapse;
    margin-top: 1em;
    text-align: right;
}

tr:first-child {
    font-weight: bold;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 0.6em;
    min-width: 10ch;
}

tr {
    transition: all 0.2s;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#datalog-end {
    text-align: center;
    font-weight: bold;
    background-color: #e9e9e9;
    border-top: 2px solid #333333;
}

.discontinous {
    border-top: 2px dashed #777;
}