@keyframes dropdown-appear {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;

    margin-top: 3px;

    background: white;
    border: 1px solid #777;
    border-radius: 13px;
    overflow: hidden;

    padding: 0.3em 0;

    animation: dropdown-appear 0.2s ease-out;
}

.dropdown-menu > div {
    padding: 0.5em 0.4em;
    transition: background linear 0.2s;
}

.dropdown-menu > div:hover {
    background: #ddd;
    cursor: pointer;
}