.header-strip {
    height: 10px;
    background-image: linear-gradient(90deg, #00c800, #3eb6fd);
}

.header-contents {
    height: 62px;
    background-color: #262626;
}

.header-contents svg {
    width: 167px;
    height: 40px;
    padding: 10px 15px;
}