.graph-span {

    color: #777;
}

.graph-span::before, .graph-span::after {
    display: inline-block;
    content: "";
    border-top: 0.3em dashed;
    width: 3em;
    margin: 0 0.5em;
    transform: translateY(-50%);
}

.graph-span::after {
    width: 18em;
}

.graph {
    width: 100%;
    height: 100%;
    -border: 2px solid #ccc;
    -border-radius: 3px;
    overflow: hidden;
}