.log-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

#map-privacy-notice {
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fefefe;
    text-align: center;
    padding: 0.8em;
}