@keyframes modal-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    border: none;
    border-radius: 8px;

    max-width: 750px;

    animation: modal-zoom-in 0.15s ease-out;
}

.modal-closing {
    animation: modal-zoom-in 0.15s ease-out reverse;
    animation-fill-mode: forwards;
}

.modal > * {
    padding: 0.3em;
}

.modal-title {
    font-weight: 600;
    font-size: large;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.48);

    animation: fade-in 0.15s ease-out;
}

dialog.modal-closing::backdrop {
    background-color: rgba(0, 0, 0, 0.48);

    animation: fade-in 0.15s ease-out reverse;
    animation-fill-mode: forwards;
}